In [60]:
import pandas as pd
gl = pd.read_csv('ubike_ticket_001.csv',encoding='utf_8')
gl.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585566 entries, 0 to 585565
Data columns (total 23 columns):
card_physical_id       585566 non-null int64
card_txn_subtype_id    585566 non-null object
debit_time             585566 non-null object
debit_money            585566 non-null int64
rent_time              585566 non-null object
rent_station_code      585566 non-null int64
rent_station           585566 non-null object
rent_column            585566 non-null object
bike_id                585566 non-null object
return_time            585566 non-null object
return_station_code    585566 non-null object
return_station         585566 non-null object
return_column          585565 non-null object
rent                   585565 non-null object
mobile_phone_id        585562 non-null object
card_type              585566 non-null object
fee_type               585566 non-null object
sp_id                  585566 non-null object
data_type              585566 non-null object
SrcUpdateTime          585566 non-null object
UpdateTime             585566 non-null object
InfoTime               562510 non-null object
InfoDate               424628 non-null object
dtypes: int64(3), object(20)
memory usage: 797.0 MB

In [61]:
df=gl.head(100)

In [62]:
df.shift(1,axis=1)

,card_physical_id,card_txn_subtype_id,debit_time,debit_money,rent_time,rent_station_code,rent_station,rent_column,bike_id,return_time,...,rent,mobile_phone_id,card_type,fee_type,sp_id,data_type,SrcUpdateTime,UpdateTime,InfoTime,InfoDate
0,NaN,NaN,2E54CE901FABAF87885D30353824D5F1,91.0,2017/6/30 11:28,5.0,2017/6/30 11:02,?琿?撣摨?(3???,079B,0005001B37,...,014B,00:25:53,F5495C36,1,L04,A209,IPASS,2017/6/30 23:59,2018/6/27 10:56,2017/6/30 11:28
1,NaN,NaN,037CB093D9478462B302A1440EFBA894,213.0,2017/6/30 22:31,5.0,2017/6/30 22:11,?琿?撣摨?(3???,080A,00050022F0,...,015B,00:20:02,EF1A0436,1,L04,A209,IPASS,2017/6/30 23:59,2018/6/27 10:56,2017/6/30 22:31
2,NaN,NaN,0A0E4205CEB4DBDF3C0CD0171B4868F5,122.0,2017/6/30 09:43,5.0,2017/6/30 09:35,?琿?撣摨?(3???,014B,5.00E+74,...,037A,00:08:03,EE055936,1,L04,A209,IPASS,2017/6/30 23:59,2018/6/27 10:56,2017/6/30 09:43
3,NaN,NaN,856242914E932B12FDA9CEE9448A2064,1735.0,2017/6/30 10:59,5.0,2017/6/30 10:54,?琿?撣摨?(3???,017B,00000006FF,...,013B,00:05:37,EA060A3A,1,L04,A209,IPASS,2017/6/30 23:59,2018/6/27 10:56,2017/6/30 10:59
4,NaN,NaN,ABB469682A193410,1177.0,2017/6/30 14:53,5.0,2017/6/30 14:27,?琿?撣摨?(3???,015A,0005001B7D,...,022B,00:26:18,E773B939,1,L04,A209,IPASS,2017/6/30 23:59,2018/6/27 10:56,2017/6/30 14:53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,5724E5A91622E85F,425.0,2017/6/30 15:05,5.0,2017/6/30 14:48,撣?撱?,002B,000000290D,...,001B,00:17:04,3CA2113A,1,L04,A209,IPASS,2017/6/30 23:59,2018/6/27 10:56,2017/6/30 15:05
96,NaN,NaN,852A22CB66134BC289056806C93DD5BE,117.0,2017/6/30 08:23,5.0,2017/6/21 08:56,撣?撱?,004A,0000003A27,...,002B,00:07:38,104B253A,1,L04,A209,IPASS,2017/6/30 23:59,2018/6/27 10:56,2017/6/30 08:23
97,NaN,NaN,2E54CE901FABAF87885D30353824D5F1,93.0,2017/6/30 14:25,5.0,2017/6/30 14:10,???葉,024B,00050020B7,...,013B,00:15:20,F5495C36,1,L04,A209,IPASS,2017/6/30 23:59,2018/6/27 10:56,2017/6/30 14:25
98,NaN,NaN,162874D422E63168160EBF64D44ADB58,98.0,2017/6/30 19:57,5.0,2017/6/30 19:54,???葉,015A,5002852,...,012B,00:03:17,D7D0EF39,1,L04,A209,IPASS,2017/6/30 23:59,2018/6/27 10:56,2017/6/30 19:57
99,NaN,NaN,9F41D5EBAF10A510885D30353824D5F1,477.0,2017/6/30 12:31,15.0,2017/6/30 11:42,???葉,027A,0005000A02,...,030B,00:48:57,D1C46739,1,L04,A209,IPASS,2017/6/30 23:59,2018/6/27 10:56,2017/6/30 12:31

In [25]:
for dtype in ['float','int64','object']:
    selected_dtype = gl.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print("Average memory usage for {} columns: {:03.2f}MB".format(dtype,mean_usage_mb))

Average memory usage for float columns: 0.00MB
Average memory usage for int64 columns: 3.35MB
Average memory usage for object columns: 37.32MB

In [27]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

In [32]:
gl_int = gl.select_dtypes(include=['int64'])
converted_int = gl_int.apply(pd.to_numeric,downcast='unsigned')
print("before: ", mem_usage(gl_int))
print("after: ", mem_usage(converted_int))
compare_ints = pd.concat([gl_int.dtypes,converted_int.dtypes],axis=1)

before:  13.40 MB
after:  3.35 MB

In [39]:
converted_int

        card_physical_id  debit_money  rent_station_code
0                     91            5                  1
1                    213            5                  1
2                    122            5                  1
3                   1735            5                  1
4                   1177            5                  1
...                  ...          ...                ...
585561               495            5                195
585562               238            5                195
585563               794            5                195
585564               233            5                195
585565               682            5                195

[585566 rows x 3 columns]

In [33]:
gl_obj = gl.select_dtypes(include=['object']).copy()
gl_obj.describe()

,card_txn_subtype_id,debit_time,rent_time,rent_station,rent_column,bike_id,return_time,return_station_code,return_station,return_column,rent,mobile_phone_id,card_type,fee_type,sp_id,data_type,SrcUpdateTime,UpdateTime,InfoTime,InfoDate
count,585566,585566,585566,585566,585566,585566,585566,585566,585566,585565,585565,585562,585566,585566,585566,585566,585566,585566,562510,424628
unique,221233,12882,28837,2755,18584,35227,27050,3984,10384,22018,76387,163592,25,28,17,7,8572,11987,12804,9
top,2C3EF16F730396C73CF0BAC4062EF42A,2017/6/1 18:30,2017/6/1 18:10,?琿??祇尹蝡?2???,001B,0.00E+00,12,45,?琿??祇尹蝡?2???,001B,1,1,1,L01,96,ECC,2017/6/30 23:59,2018/6/27 11:25,2017/6/1,2017/6/1
freq,55,178,182,10632,23913,1657,1646,9339,9339,20688,23056,137882,424628,373693,227497,410251,423936,409597,17916,54268

In [34]:
dow=gl_obj.data_type
print("original:\n")
print(dow.head())
print("\n")

dow_cat = dow.astype('category')
print("category:\n")
print(dow_cat.head())

original:

0    IPASS
1    IPASS
2    IPASS
3    IPASS
4    IPASS
Name: data_type, dtype: object


category:

0    IPASS
1    IPASS
2    IPASS
3    IPASS
4    IPASS
Name: data_type, dtype: category
Categories (7, object): [2017/6/30 23:59, 2017/7/31 23:59, 2018/6/27 10:56, 2018/6/27 11:25, 2018/6/27 11:26, ECC, IPASS]

In [35]:
print(mem_usage(dow))         
print(mem_usage(dow_cat))

35.38 MB
0.56 MB

In [38]:
gl['fee_type'].value_counts()

L01      373693
96        77311
95        34353
ECC       22336
L04       14357
97        14024
G11       13207
G08       11622
G03        5160
A209       4539
94         4166
G10        3593
93         3096
G09        2810
IPASS       720
90          269
G90         122
110          53
G02          39
A20C         26
92           25
G01          20
111          16
118           3
112           2
91            2
6             1
164           1
Name: fee_type, dtype: int64

In [40]:
gl['rent_station'].value_counts()

?琿??祇尹蝡?2???        10632
蝢蝳??頝臬           8772
?箏之鞈?憭扳?              8453
?琿?撣摨?(3???       8291
?啁蝘?憭批飛              7860
                      ...
?漪?梯楝?剜挾368撌?016A        1
銝?蝮賡??012B              1
?漪?梯楝?剜挾368撌?007A        1
?蝡?003A                 1
?琿?敹儔蝡?023A              1
Name: rent_station, Length: 2755, dtype: int64

In [63]:
import os
items = os.listdir(".")
newlist = []
for names in items:
    if names.endswith(".csv"):
        newlist.append(names)
newlist

['ubike_ticket_001.csv',
 'ubike_ticket_002.csv',
 'ubike_ticket_003.csv',
 'ubike_ticket_004.csv',
 'ubike_ticket_005.csv',
 'ubike_ticket_006.csv',
 'ubike_ticket_007.csv',
 'ubike_ticket_008.csv',
 'ubike_ticket_009.csv',
 'ubike_ticket_010.csv',
 'ubike_ticket_011.csv',
 'ubike_ticket_012.csv',
 'ubike_ticket_013.csv',
 'ubike_ticket_014.csv',
 'ubike_ticket_015.csv',
 'ubike_ticket_016.csv',
 'ubike_ticket_017.csv',
 'ubike_ticket_018.csv',
 'ubike_ticket_019.csv',
 'ubike_ticket_020.csv',
 'ubike_ticket_021.csv',
 'ubike_ticket_022.csv',
 'ubike_ticket_023.csv',
 'ubike_ticket_024.csv',
 'ubike_ticket_025.csv',
 'ubike_ticket_026.csv',
 'ubike_ticket_027.csv',
 'ubike_ticket_028.csv',
 'ubike_ticket_029.csv',
 'ubike_ticket_030.csv',
 'ubike_ticket_031.csv',
 'ubike_ticket_032.csv',
 'ubike_ticket_033.csv',
 'ubike_ticket_034.csv',
 'ubike_ticket_035.csv',
 'ubike_ticket_036.csv',
 'ubike_ticket_037.csv',
 'ubike_ticket_038.csv',
 'ubike_ticket_039.csv',
 'ubike_ticket_040.csv',
 'ubike_ticket_041.csv',
 'ubike_ticket_042.csv',
 'ubike_ticket_043.csv',
 'ubike_ticket_044.csv',
 'ubike_ticket_045.csv',
 'ubike_ticket_046.csv',
 'ubike_ticket_047.csv',
 'ubike_ticket_048.csv',
 'ubike_ticket_049.csv',
 'ubike_ticket_050.csv',
 'ubike_ticket_051.csv',
 'ubike_ticket_052.csv',
 'ubike_ticket_053.csv',
 'ubike_ticket_054.csv',
 'ubike_ticket_055.csv',
 'ubike_ticket_056.csv',
 'ubike_ticket_057.csv',
 'ubike_ticket_058.csv',
 'ubike_ticket_059.csv',
 'ubike_ticket_060.csv',
 'ubike_ticket_061.csv',
 'ubike_ticket_062.csv',
 'ubike_ticket_063.csv',
 'ubike_ticket_064.csv',
 'ubike_ticket_065.csv',
 'ubike_ticket_066.csv',
 'ubike_ticket_067.csv',
 'ubike_ticket_068.csv',
 'ubike_ticket_069.csv',
 'ubike_ticket_070.csv',
 'ubike_ticket_071.csv',
 'ubike_ticket_072.csv',
 'ubike_ticket_073.csv',
 'ubike_ticket_074.csv',
 'ubike_ticket_075.csv',
 'ubike_ticket_076.csv',
 'ubike_ticket_077.csv',
 'ubike_ticket_078.csv',
 'ubike_ticket_079.csv',
 'ubike_ticket_080.csv',
 'ubike_ticket_081.csv',
 'ubike_ticket_082.csv',
 'ubike_ticket_083.csv',
 'ubike_ticket_084.csv',
 'ubike_ticket_085.csv',
 'ubike_ticket_086.csv',
 'ubike_ticket_087.csv',
 'ubike_ticket_088.csv',
 'ubike_ticket_089.csv',
 'ubike_ticket_090.csv',
 'ubike_ticket_091.csv',
 'ubike_ticket_092.csv',
 'ubike_ticket_093.csv']